@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    background-color: #EFF0F2;
}

/*Lista*/
li {
list-style: none;
}

/*Ancora de links*/
a {
text-decoration: none;
color: #fff;
font-size: 1rem;
}

/*Hover da ancora de links*/
a:hover {
color: lightskyblue;
}
/*Cabeçalho*/
/* header {
position: relative;
padding: 0 2rem;
} */

/*Barra de navegação*/
.navbar {
width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}

/*Barra de navegação e imagem da logo*/
.navbar .logoimagem{
margin-top: 20px;
}

/*Barra de navegação e logo*/
.navbar .logo a {
font-size: 1.5rem;
font-weight: bold;
}

/*Links da barra de navegação*/
.navbar .links {
display: flex;
gap: 1rem;
/* box-shadow: 0 0 10px green, 0 0 10px blue; */
align-items: center;

/*Links da barra de navegação*/
}
.navbar .links1 {
display: flex;
/* gap: 2rem; */
box-shadow: 0 0 5px rgb(0, 0, 0);
border-radius: 15px;
padding-bottom: 5px;
padding-top: 5px;
padding-left: 10px;
padding-right: 10px;
color: black;
font-family: 'Poppins', sans-serif;
}

/*Botão de alternância da barra de navegação*/
.navbar .toggle_btn {
color: #fff;
font-size: 1.5rem;
cursor: pointer;
display: none;
}

/*Botão de ação da barra de navegação*/
/* .action_btn {
background-color: lightskyblue;
color: black;
padding: 0.5rem 1rem;
border: none;
outline: none;
border-radius: 20px;
font-size: 2.5vh;
font-weight: bold;
cursor: pointer;
transition: scale 0.2 ease;
margin-left: 10px;
} */

/*Hover do botão de ação*/
.action_btn:hover {
scale: 1.05;
color: #fff;
}

/*Botão de ação ativo*/
.action_btn:active {
scale: 0.95;
}

/*Menu suspenso*/
.dropdown_menu {
display: none;
position: absolute;
right: 2rem;
top: 60px;
height: 0;
width: 300px;
background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(15px);
border-radius: 10px;
overflow: hidden;
transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*Menu suspenso aberto*/
.dropdown_menu.open{
height: 240px;
}

/*Lista do menu suspenso*/
.dropdown_menu li {
padding: 0.7rem;
display: flex;
align-items: center;
justify-content: center;
}

/*Menu suspenso com o botão de ação*/
.dropdown_menu .action_btn {
width: 100%;
display: flex;
justify-content: center;
}





*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
html,body{
display: grid;
/* height: 100%; */
place-items: center;
/* text-align: center; */
background: #EFF0F2;
width: 100%;
}


.titulo {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 600;
    color: black;
    font-family: 'Poppins', sans-serif;
  }



/*Sistema de avaliação*/
.container{
position: relative;
width: 400px;
background: #fff;
padding: 20px 30px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
border-radius: 5px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin-top: 20vh;

}
.container .post{
display: none;
}
.container .text{
font-size: 25px;
color: #666;
font-weight: 500;
}
.container .edit{
position: absolute;
right: 10px;
top: 5px;
font-size: 16px;
color: #666;
font-weight: 500;
cursor: pointer;
}
.container .edit:hover{
text-decoration: underline;
}
.container .star-widget input{
display: none;
}
.star-widget label{
font-size: 40px;
color: rgb(61, 61, 255);
padding: 10px;
float: right;
transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
color: #fd4;
}
input:checked ~ label{
color: #fd4;
}
input#rate-5:checked ~ label{
color: #fe7;
text-shadow: 0 0 20px rgb(147, 150, 0);
}
#rate-1:checked ~ form header:before{
content: "Péssimo 😤";
}
#rate-2:checked ~ form header:before{
content: "Ruim 😐 ";
}
#rate-3:checked ~ form header:before{
content: "Bom 🙂";
}
#rate-4:checked ~ form header:before{
content: " Muito Bom 😃";
}
#rate-5:checked ~ form header:before{
content: "Excelente! 🤩 ";
}
.container form{
display: none;
}
input:checked ~ form{
display: block;
}
form header{
width: 100%;
font-size: 25px;
color: black;
font-weight: 500;
margin: 5px 0 20px 0;
text-align: center;
transition: all 0.2s ease;
}
form .textarea{
height: 100px;
width: 100%;
overflow: hidden;
}
form .textarea textarea{
height: 100%;
width: 100%;
outline: none;
color: black;
border: 1px solid #e7e7e7;
background: #e7e7e7;
padding: 10px;
font-size: 17px;
resize: none;
}
.textarea textarea:focus{
border-color:#e7e7e7;
}
form .btn{
height: 45px;
width: 100%;
margin: 15px 0;
}
form .btn button{
height: 100%;
width: 100%;
border: 1px solid #e7e7e7;
outline: none;
background: #e7e7e7;
color: #999;
font-size: 17px;
font-weight: 500;
text-transform: uppercase;
cursor: pointer;
transition: all 0.3s ease;
}
form .btn button:hover{
background: blue;
}





:root {
  --button-background: #EFF0F2;
  --button-color: rgb(0, 0, 0);
  --dropdown-highlight: dodgerblue;
  --dropdown-width: 160px;
  --dropdown-background: white;
  --dropdown-color: black;
}



/* Botões */
a.button {
  /* Frame */
  display: inline-block;
  padding: 20px 28px;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  /* gap: 2rem; */
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 15px;
  padding-bottom: 4.5px;
  padding-top: 4.5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-family: 'Poppins', sans-serif;
  /* Style */
  border: none;
  background: var(--button-background);
  color: var(--button-color);
  font-size: 2.7vh;
  cursor: pointer;
  margin-left: 2vh;
  font-family: 'Poppins', sans-serif;
}

a.button:active {
  filter: brightness(75%);
}

/* Estilos menu suspenso */
.dropdown {
  position: relative;
  padding: 0;
  margin-right: 1em;
  
  border: none;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
}

.dropdown > summary::-webkit-details-marker {
  display: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown summary:focus a.button {
  border: 2px solid white;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown ul {
  position: absolute;
  margin: 20px 0 0 0;
  padding: 20px 0;
  width: var(--dropdown-width);
  left: 50%;
  margin-left: calc((var(--dropdown-width) / 2)  * -1);
  box-sizing: border-box;
  z-index: 2;
  
  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
}

.dropdown ul li {
  padding: 0;
  margin: 0;
}

.dropdown ul li a:link, .dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--dropdown-color);
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: var(--dropdown-highlight);
  color: var(--dropdown-background);
}

/* Triangulo menu suspenso */
.dropdown ul::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dropdown-background) transparent;
}


/* Fecha o menu suspenso sem clicks */
.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
