body{
    margin: 0;
    background-color: #EFF0F2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: lightskyblue;
}
/*Cabeçalho*/
/* header {
    position: relative;
    padding: 0 2rem;
} */

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar .logoimagem{
    margin-top: 20px;

}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    
}


.navbar .links {
    display: flex;
    gap: 1rem;
    /* box-shadow: 0 0 10px green, 0 0 10px blue; */
    align-items: center;

}
.navbar .links1 {
    display: flex;

    /* gap: 2rem; */
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;


}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: lightskyblue;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-left: 10px;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/*Menu suspenso*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo {
    font-size: 27px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 0 0 30px;
    color: blue;
    width: 100%; 
    margin-top: 3vh;
}

.principal {
    width: 100%;
    height: 90vh;
}

.box{
    width: 33%;
    height: 450px;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    border: solid 1px;
}

.dados{
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width: 100%; 
    margin-top: 3vh;
    /* margin-left: 29vh ; */
    text-align: center;

}
    .inputBox input{
	position: relative;
	width: 300px;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	/* border: none; */
	color: black;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    
}


.numero{
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width: 100%; 
    margin-top: 3vh;
    margin-left: 3vh;
}

.nomecartao{
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width: 100%; 
    margin-top: 3vh;
    margin-left: 3vh;
}

.validade{
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width: 100%; 
    margin-top: 3vh;
    margin-left: 3vh;
}

.cvc{
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width: 100%; 
    margin-top: 3vh;
    margin-left: 3vh;
}

.parcelas{
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width: 100%; 
    margin-top: 40px;
    margin-left: 3vh;
    letter-spacing: 0.05em;
}

.mainmenubtn {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
    /* padding:20px; */
    /* margin-top:20px; */
    margin-left: 140px;
    margin-top: 0px;
    font-size: 13px;
    letter-spacing: 0.05em;
}
.mainmenubtn:hover {
    background-color: rgb(230, 230, 230);
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: transparent;
    min-width: 20px;
    /* color: black; */
    border: solid 1px;
    font-size: 13px;
    float: right;

}
.dropdown-child a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    left: 0;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child:hover {
    background-color: rgb(230, 230, 230);
    }




    .wrapper {
        width: 611px;
        height: 400px;
        margin: 80px auto 0;
        .container {
            float: right;
            width: 600px;
            height: 400px;
            background-color: $white;
            @include border-radius(10px);
            .part {
                float: left;
                height: 100%;
                &.card-details {
                    padding: 48px 40px 0;
                    width: 60%;
                    h1 {
                        background-color: $blue;
                        color: white;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 12px;
                        text-transform: uppercase;
                        padding: 14px 0 10px 49px;
                        letter-spacing: 1px;
                        margin-left: -52px;
                        width: 330px;
                    }
                }
                &.bg {
                    width: 40%;
                    background-image: url("https://s13.postimg.org/d8emjhccn/image.jpg");
                    background-size: 121%;
                    background-repeat: no-repeat;
                    overflow: hidden;
                    @include border-right-radius(10px);
                }
            }
            form {
                font-family: 'Work Sans', sans-serif;
                .group {
                    display: block;
                    width: 100%;
                    float: left;
                    position: relative;
                    margin-bottom: 25px;
                    label {
                        font-size: 12px;
                        float: left;
                        width: 100%;
                        display: block;
                        margin-bottom: 5px;
                    }
                    input {
                        float: left;
                        width: 100%;
                        height: 30px;
                        font-size: 18px;
                        font-family: 'Work Sans', sans-serif;
                        border: 0;
                        color: $dark;
                        border-bottom: 1px solid $grey;
                        @include placeholder {
                            font-family: 'Work Sans', sans-serif;
                            font-size: 14px;
                            line-height: 20px;
                            vertical-align: middle;
                            color: $grey;
                            text-align: left;
                        }
                        &:focus {
                            outline: none;
                            border-bottom-color: $blue;
                            @include placeholder {
                                color: transparent;
                            }  
                        } 
                    } 
                } 
            } 
        } 
    } 
                            