@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  margin: 0;
  background-color: #EFF0F2;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: lightskyblue;
}

/*Cabeçalho*/
/* header {
position: relative;
padding: 0 2rem;
} */

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar .logoimagem {
  margin-top: 20px;

}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;

}


.navbar .links {
  display: flex;
  gap: 1rem;
  /* box-shadow: 0 0 10px green, 0 0 10px blue; */
  align-items: center;

}

.navbar .links1 {
  display: flex;

  /* gap: 2rem; */
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-family: 'Poppins', sans-serif;


}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: lightskyblue;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 2.5vh;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-left: 10px;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/*Menu suspenso*/
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}




/*caixa de fundo do login*/
.form-caixa {
  width: 330px;
  border-radius: 0.75rem;
  background-color: #fff;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  margin: auto;
  margin-top: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}

/*titulo "Login"*/
.titulo {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.form {
  margin-top: 1.5rem;
}

/*caixa de texto usuário*/
.input-caixausuario {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/*caixa de texto usuário*/
.input-caixausuario label {
  display: block;
  color: rgb(37, 37, 37);
  margin-bottom: 4px;
  font-family: 'Poppins', sans-serif;
}

/*caixa de texto usuário*/
.input-caixausuario input {
  width: 90%;
  border-radius: 0.375rem;
  border: 1px solid black;
  outline: 0;
  background-color: #fff;
  padding: 0.75rem 1rem;
  color: black;
  cursor: pointer;
}

/*caixa de texto usuário*/
.input-caixausuario input:focus {
  border-color: blue;
}

/*caixa de texto senha*/
.esqueciasenha {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(37, 37, 37);
  margin: 8px 0 14px 0;

}

/*caixa de texto usuário*/
.esqueciasenha  a,
.entrar a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

/*caixa de texto usuário*/
.esqueciasenha  a:hover,
.entrar a:hover {
  text-decoration: underline rgb(37, 37, 37);
}

/*botão entrar*/
.entrar1 {
  display: block;
  width: 100%;
  background-color: lightblue;
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  cursor: pointer;
}

/*div com a mensagem e a linha*/
.contasocial {
  display: flex;
  align-items: center;
  padding-top: 1rem;
}


.linha {
  height: 1px;
  flex: 1 1 0%;
  background-color: rgba(55, 65, 81, 1);
}

.contasocial .mensagem {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(37, 37, 37);
  font-family: 'Poppins', sans-serif;
}

/*icone do google e twitter*/
.icones-sociais {
  display: flex;
  justify-content: center;


}

.icones-sociais .icone {
  border-radius: 0.125rem;
  padding: 0.75rem;
  border: none;
  background-color: rgba(17, 24, 39, 1);
  margin-left: 8px;
  cursor: pointer;
}

.icones-sociais .icone svg {
  height: 1.25rem;
  width: 1.25rem;
  fill: #fff;
}

/*frase final "não tem uma conta..."*/
.semconta {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(37, 37, 37);
  /* margin-left: 2vh; */
  font-family: 'Poppins', sans-serif;
}

.semconta a {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(37, 37, 37);
  /* margin-left: 2vh; */
  font-family: 'Poppins', sans-serif;
}