@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    background-color: #EFF0F2;
}

/*Lista*/
li {
list-style: none;
}

/*Ancora de links*/
a {
text-decoration: none;
color: #fff;
font-size: 1rem;
}

/*Hover da ancora de links*/
a:hover {
color: lightskyblue;
}
/*Cabeçalho*/
/* header {
position: relative;
padding: 0 2rem;
} */

/*Barra de navegação*/
.navbar {
width: 100%;
height: 60px;
max-width: 1200px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-between;
}

/*Barra de navegação e imagem da logo*/
.navbar .logoimagem{
margin-top: 20px;
}

/*Barra de navegação e logo*/
.navbar .logo a {
font-size: 1.5rem;
font-weight: bold;
}

/*Links da barra de navegação*/
.navbar .links {
display: flex;
gap: 1rem;
/* box-shadow: 0 0 10px green, 0 0 10px blue; */
align-items: center;

/*Links da barra de navegação*/
}
.navbar .links1 {
display: flex;
/* gap: 2rem; */
box-shadow: 0 0 5px rgb(0, 0, 0);
border-radius: 15px;
padding-bottom: 5px;
padding-top: 5px;
padding-left: 10px;
padding-right: 10px;
color: black;
font-family: 'Poppins', sans-serif;
}

/*Botão de alternância da barra de navegação*/
.navbar .toggle_btn {
color: #fff;
font-size: 1.5rem;
cursor: pointer;
display: none;
}

/*Botão de ação da barra de navegação*/
/* .action_btn {
background-color: lightskyblue;
color: black;
padding: 0.5rem 1rem;
border: none;
outline: none;
border-radius: 20px;
font-size: 2.5vh;
font-weight: bold;
cursor: pointer;
transition: scale 0.2 ease;
margin-left: 10px;
} */

/*Hover do botão de ação*/
.action_btn:hover {
scale: 1.05;
color: #fff;
}

/*Botão de ação ativo*/
.action_btn:active {
scale: 0.95;
}

/*Menu suspenso*/
.dropdown_menu {
display: none;
position: absolute;
right: 2rem;
top: 60px;
height: 0;
width: 300px;
background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(15px);
border-radius: 10px;
overflow: hidden;
transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*Menu suspenso aberto*/
.dropdown_menu.open{
height: 240px;
}

/*Lista do menu suspenso*/
.dropdown_menu li {
padding: 0.7rem;
display: flex;
align-items: center;
justify-content: center;
}

/*Menu suspenso com o botão de ação*/
.dropdown_menu .action_btn {
width: 100%;
display: flex;
justify-content: center;
}


/* Titulo do "fundo" (PAGAMENTO) */
/* .titulo {
    font-size: 27px;
    font-family: 'Poppins', sans-serif;
    margin: 0 0 0 30px;
    color: blue;
    width: 100%; 
    margin-top: 2vh; */


.principal {
    width: 100%;
    height: 90vh;
}


/* caixa de fundo */
.box{
    width: 33%;
    height: 87vh;
    background-color: white;
    margin: auto;
    margin-top: 4vh;
    border-radius: 0.75rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2)
    
}


/*  titulo da box "DADOS DO CARTÃO" */
/*titulo "Login"*/
.dados {
    text-align: center;
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 600;
    color: black;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
  }
  

/* input para as caixas de texto */
    .inputBox input{
	position: relative;
	width: 300px;
	padding: 20px 10px 10px;
	background: transparent;
	outline: none;
	box-shadow: none;
	/* border: none; */
	color: black;
	font-size: 1em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	z-index: 10;
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    
}


/* caixa de texto "Número do cartão" */
/* .numero{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%; 
    margin-top: 1vh;
    margin-left: 3vh;
} */


/* caixa de texto "Nome no cartão" */
/* .nomecartao{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%; 
    margin-top: 3vh;
    margin-left: 3vh;
} */


/* caixa de texto "Validade do cartão" */
/* .validade{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%; 
    margin-top: 3vh;
    margin-left: 3vh;
} */


/* caixa de texto "Código CVC" */
/* .cvc{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 100%; 
    margin-top: 3vh;
    margin-left: 3vh;
} */


/* menu pra selecionar a quantidade de parcelas */
.parcelas{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: black;
    width: 35%; 
    /* margin-top: 40px; */
    /* margin-left: 3vh; */
    letter-spacing: 0.05em;
    background-color: white;
    margin-left: 5%;
    display: flex;
    align-items: center;
    border: 1.5px solid #C7BEBE;
    border-radius: 5px;
}


/* texto de "Parcelamento" */
.textoparcelas{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(15, 14, 14);
    /* width: 100%;  */
    margin-top: 4vh;
    margin-left: 5vh;
    display: flex;
    align-items: center;
}


/* Botão "Finalizar reserva" */
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-top: 7%;
    margin-left: 23%;
  }
  
  button:hover {
    background-color: rgb(200, 200, 255);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: #000;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }


  
/*caixa de texto numero do cartão*/
.input-caixanumero {
  margin-top: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

/*caixa de texto numero*/
.input-caixanumero label {
  display: block;
  color: rgb(37, 37, 37);
  margin-bottom: 4px;
  font-family: 'Poppins', sans-serif;
  margin-left: 5vh;
  margin-top: 3vh;
}

/*caixa de texto numero*/
.input-caixanumero input {
  width: 75%;
  border-radius: 0.375rem;
  border: 1.5px solid #C7BEBE;
  outline: 0;
  background-color: #fff;
  padding: 0.75rem 1rem;
  color: black;
  cursor: pointer;
  margin-left: 5vh;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

/*caixa de texto numero*/
.input-caixanumero input:focus {
  border-color: blue;
}






/*caixa de texto usuário*/
.input-caixanome {
    margin-top: 0.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  
  /*caixa de texto usuário*/
  .input-caixanome label {
    display: block;
    color: rgb(37, 37, 37);
    margin-bottom: 4px;
    font-family: 'Poppins', sans-serif;
    margin-left: 5vh;
    margin-top: 3vh;
  }
  
  /*caixa de texto usuário*/
  .input-caixanome input {
    width: 75%;
  border-radius: 0.375rem;
  border: 1.5px solid #C7BEBE;
  outline: 0;
  background-color: #fff;
  padding: 0.75rem 1rem;
  color: black;
  cursor: pointer;
  margin-left: 5vh;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  }
  
  /*caixa de texto usuário*/
  .input-caixanome input:focus {
    border-color: blue;
  }





  /*caixa de texto usuário*/
.input-caixavalidade {
    margin-top: 0.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  
  /*caixa de texto usuário*/
  .input-caixavalidade label {
    display: block;
    color: rgb(37, 37, 37);
    margin-bottom: 4px;
    font-family: 'Poppins', sans-serif;
    margin-left: 5vh;
    margin-top: 3vh;
  }
  
  /*caixa de texto usuário*/
  .input-caixavalidade input {
    width: 75%;
    border-radius: 0.375rem;
    border: 1.5px solid #C7BEBE;
    outline: 0;
    background-color: #fff;
    padding: 0.75rem 1rem;
    color: black;
    cursor: pointer;
    margin-left: 5vh;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  /*caixa de texto usuário*/
  .input-caixavalidade input:focus {
    border-color: blue;
  }




    /*caixa de texto usuário*/
.input-caixacvc {
    margin-top: 0.25rem;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  
  /*caixa de texto usuário*/
  .input-caixacvc label {
    display: block;
    color: rgb(37, 37, 37);
    margin-bottom: 4px;
    font-family: 'Poppins', sans-serif;
    margin-left: 5vh;
    margin-top: 3vh;
  }
  
  /*caixa de texto usuário*/
  .input-caixacvc input {
    width: 75%;
    border-radius: 0.375rem;
    border: 1.5px solid #C7BEBE;
    outline: 0;
    background-color: #fff;
    padding: 0.75rem 1rem;
    color: black;
    cursor: pointer;
    margin-left: 5vh;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
  }
  
  /*caixa de texto usuário*/
  .input-caixacvc input:focus {
    border-color: blue;
  }


  
:root {
  --button-background: #EFF0F2;
  --button-color: rgb(0, 0, 0);
  --dropdown-highlight: dodgerblue;
  --dropdown-width: 160px;
  --dropdown-background: white;
  --dropdown-color: black;
}



/* Boring button styles */
a.button {
  /* Frame */
  display: inline-block;
  padding: 20px 28px;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  /* gap: 2rem; */
  box-shadow: 0 0 5px rgb(0, 0, 0);
  border-radius: 15px;
  padding-bottom: 4.5px;
  padding-top: 4.5px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  font-family: 'Poppins', sans-serif;
  /* Style */
  border: none;
  background: var(--button-background);
  color: var(--button-color);
  font-size: 2.7vh;
  cursor: pointer;
  margin-left: 2vh;
  font-family: 'Poppins', sans-serif;
}

a.button:active {
  filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
  position: relative;
  padding: 0;
  margin-right: 1em;
  
  border: none;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
}

.dropdown > summary::-webkit-details-marker {
  display: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown summary:focus a.button {
  border: 2px solid white;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown ul {
  position: absolute;
  margin: 20px 0 0 0;
  padding: 20px 0;
  width: var(--dropdown-width);
  left: 50%;
  margin-left: calc((var(--dropdown-width) / 2)  * -1);
  box-sizing: border-box;
  z-index: 2;
  
  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
}

.dropdown ul li {
  padding: 0;
  margin: 0;
}

.dropdown ul li a:link, .dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--dropdown-color);
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: var(--dropdown-highlight);
  color: var(--dropdown-background);
}

/* Dropdown triangle */
.dropdown ul::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dropdown-background) transparent;
}


/* Close the dropdown with outside clicks */
.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}
