@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: auto;
    background-color: #EFF0F2;
    width: 95vw;
    height: 100vh;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 2vh;
}

a:hover {
    color: lightskyblue;
}
/*Cabeçalho*/
/* header{
    width: 1200px;
} */

.navbar {
    width: 100%;
    height: 60px;
    /*max-width: 1200px;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.navbar .logoimagem{
    margin-top: 20px;
    flex-direction: row;


}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    
}


.navbar .links {
    display: flex;
    gap: 1rem;
    /* box-shadow: 0 0 10px green, 0 0 10px blue; */
    align-items: center;

}
.navbar .links1 {
    display: flex;

    /* gap: 2rem; */
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-radius: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-family: 'Poppins', sans-serif;


}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: lightskyblue;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
    
}

.action_btn:active {
    scale: 0.95;
}

/*Menu suspenso*/
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
  }






  .form-container {
    width: 80%;
    background-color: #fff;
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    margin: auto;
    margin-top: 20px;
    box-shadow: bottom;
    height: 12vh;
  }


  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   




   .input {
    width: 300px;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #cacacd;
    color: #0d0c22;
    transition: .3s ease;
    margin-left: 4vh;
   }
   
   .input::placeholder {
    color: black;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: blue;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(70, 119, 243, 0.1);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: black;
    width: 1rem;
    height: 1rem;
    margin-left: 4vh;
   }






   
   
  







  
  .vitrine {
    display: block;
    margin: 50px auto;
    max-width: 1300px;
    text-align: center;
    width: 100%;
  }
  

  
  ul {
    padding: 0;
    margin: 0;
  }
  ul li {
    list-style: none;
  }
  
  .product-list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .product-list {
      flex-wrap: wrap;
    }
  }
  
  .product-item {
    border: 1px solid #e1e1e1;
    cursor: pointer;
    margin: 15px 5px;
    max-width: 300px;
    transition: 0.2s;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
  .product-item .product-link {
    color: #555;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  .product-item .product-info {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
  .product-item .product-info .tag-procent {
    background: #f00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 15px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-family: 'Poppins', sans-serif;
  }
  .product-item .product-info-img {
    /* border-bottom: 1px solid #e1e1e1; */
    height: 240px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-right: 1px solid rgb(182, 181, 181);
    border-left: 1px solid rgb(182, 181, 181);
    border-top: 1px solid rgb(182, 181, 181);
  }
  .product-item .product-info-img img {
    max-width: 200px;
  }
  .product-item .product-info-description {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    border-right: 1px solid rgb(182, 181, 181);
    border-left: 1px solid rgb(182, 181, 181);
  
  }
  .product-item .product-info-description .title {
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  .product-item .product-info-description .description {
    height: 30px;
    margin: 3px 0;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
  }
  .product-item .price-box {
    align-items: center;
    border-top: 1px solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #fff;
    border-right: 1px solid rgb(182, 181, 181);
    border-left: 1px solid rgb(182, 181, 181);
    border-bottom: 1px solid rgb(182,181,181);
  }
  .product-item .price del {
    color: #ccc;
    font-size: 14px;
    margin-right: 10px;
  }
  .product-item .price ins {
    color: #4d61fc;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
  }
  .product-item .price .price-info {
    color: #4d61fc;
    display: block;
    font-weight: bold;
    margin-top: 5px;
  }
  .product-item .star-ranking {
    display: flex;
    margin-top: 10px;
  }
  .product-item .star-ranking img {
    max-width: 15px;
  }
  .product-item .star-ranking .qtd-votes {
    color: #555;
    font-size: 12px;
    margin-left: 10px;
  }
  .product-item:hover {
    transform: translateY(-2px);
    box-shadow: -2px 48px 56px -41px rgba(0, 0, 0, 0.37);
  }
  
  .btn-buy {
    background: #4d61fc;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.2s;
  }
  .btn-buy .fas {
    margin-left: 3px;
  }
  .btn-buy:hover {
    background: #0c1979;
  }
  
  .d-block {
    display: block;
  }